.profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: -200px;

  .posts {
    width: 450px;
    max-width: -webkit-fill-available;
    margin: auto;
    position: relative;
    top: -100px;

    & > * {
      margin: 20px 0;
    }
  }

  .profile-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .cover-pic {
      width: 70%;
      border-radius: 10px;
      margin: auto;
    }

    .pic-and-name {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      top: -140px;

      .edit-icon {
        position: relative;
        left: 59px;
        top: 30px;
        font-size: larger;
        cursor: pointer;

        path {
          fill: rgb(255, 255, 255);
        }
      }
    }

    .user-pic {
      display: inline;
      margin: auto;
      width: 150px;
      border-radius: 50%;
      border: 4px solid white;
    }

    strong {
      margin: auto;
      font-size: 2em;
    }
  }
  @media (max-width: 1020px) {
    top: 0;
  }
  @media (max-width: 700px) {
    .profile-section {
      .cover-pic {
        width: 90%;
      }
    }
  }
}
