.contact_bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 290px;
  overflow-y: scroll;
  top: 60px;
  bottom: 0;
  right: 0;
  background: #eff2f5;

  @media (max-width: 1098px) {
    width: 200px;
  }

  @media (max-width: 920px) {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 906px) {
    width: 102px;
  }

  @media (max-width: 736px) {
    display: none;
  }

  h3 {
    margin-left: 5px;
    color: rgb(100, 100, 100);
  }

  p {
    margin: 0;
    @media (max-width: 920px) {
      display: none;
    }
  }
  .friend {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 8px 7px;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.034);
    }
  }

  img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
}
