.spinner {
  display: flex;
  justify-content: center;
  animation: fadeIn ease 1s;
  z-index: 100;

  svg {
    animation: SlideDown ease-in-out 0.8s;
    height: 57px;
    shape-rendering: auto;
    position: fixed;
    z-index: 100;
    top: 220px;
    background: white;
    border-radius: 50%;
  }
}

@keyframes SlideDown {
  0% {
    top: 200px;
  }
  50% {
    top: 240px;
  }
  70% {
    top: 220px;
  }
}
