.spinner {
  display: flex;
  justify-content: center;

  svg {
    height: 57px;
    shape-rendering: auto;
    position: fixed;
    z-index: 100;
    top: 220px;
    background: white;
    border-radius: 50%;
  }
}
