@import "../FadeInAnimation.scss";

.spinner {
  display: flex;
  justify-content: center;
  animation: fadeIn ease 1s;

  svg {
    height: 57px;
    shape-rendering: auto;
    position: fixed;
    z-index: 100;
    top: 220px;
    background: white;
    border-radius: 50%;
  }
}
