.count-wrapper {
  display: grid;
  grid-template-areas: "like comment";
  justify-content: space-between;
  color: #696666;
  padding: 0 15px;

  .like-counter {
    grid-area: like;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .comment-counter {
    grid-area: comment;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
