.modal-wrapper {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.308);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
  justify-content: center;

  .post-modal {
    position: fixed;
    background: white;
    display: flex;
    flex-direction: column;
    z-index: 2;
    top: 81px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 450px;
    max-width: 450px;
    height: 400px;

    .header {
      display: grid;
      grid-template-columns: 10px auto auto;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
    }

    svg {
      font-size: xx-large;

      path {
        color: blueviolet;
        &:hover {
          color: rgba(137, 43, 226, 0.507);
        }
      }
    }

    h2 {
      text-align: center;
      margin: 0;
    }

    textarea {
      height: 100%;
      outline: none;
      border: none;
      resize: none;
      overflow: auto;
      font-family: inherit;
      font-size: 1.5em;
    }

    .close-icon {
      cursor: pointer;
    }
  }
}
