@import "../../FadeInAnimation.scss";

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  animation: fadeIn ease 1s;

  .view-more {
    color: #696666;
    text-decoration: underline;
    cursor: pointer;
    margin: 5px;
  }

  img {
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
  }

  .comment-wrapper {
    display: flex;
    gap: 13px;
    animation: fadeIn ease 1s;
    padding: 0 15px;
  }

  .comment-text {
    background: #f0f2f5;
    padding: 10px;
    border-radius: 10px;
    width: 100%;

    .username {
      font-weight: 500;
    }

    p {
      margin: 0;
    }
  }
}
