@import "../../vars.scss";

.post-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  border-radius: 20px;
  background: white;
  height: 6em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.123);

  img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  textarea {
    background: #f0f2f5;
    padding: 10px 20px;
    width: 100%;
    border-radius: 20px;
    border: none;
    font: inherit;
    outline: inherit;
    resize: none;
    overflow: auto;
    height: 20px;
  }

  div {
    display: flex;
    gap: 10px;
  }

  .link-button {
    padding: 6px;
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.089);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.089);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.226);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.233);
  }
}
