.chat_modal {
  position: fixed;
  bottom: 0;
  right: 84px;
  background: white;
  border-radius: 10px 10px 0 0;
  box-shadow: 1px 1px 8px 3px #3e39390a;
  width: 325px;
  max-height: calc(100vh - 60px - 24px);
  height: 455px;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
    box-shadow: 1px 1px 8px 3px #3e39390e;

    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      margin-left: 5px;
    }

    svg {
      cursor: pointer;
      margin-right: 10px;
      font-size: 25px;
      color: blueviolet;
      font-size: 25px;
      border-radius: 50%;
      padding: 3px;

      &:hover {
        background: #00000024;
      }
    }
  }

  .chat {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: scroll;
    max-height: calc(100vh - 302px);
    padding: 10px;

    .chat_msg {
      padding: 10px;
      background: blueviolet;
      color: white;
      width: max-content;
      border-radius: 20px;
    }

    .chat_msg.current {
      align-self: flex-end;
    }

    .intro {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      margin: 20px;

      p {
        margin: 0;
      }

      img {
        width: 70px;
        height: 70px;
      }
    }
  }

  .chat_form {
    position: absolute;
    bottom: 10px;

    input {
      background: #f0f2f5;
      padding: 10px 20px;
      width: 100%;
      border-radius: 20px;
      border: none;
      font: inherit;
      outline: inherit;
      resize: none;
      overflow: auto;
      height: 20px;
    }
  }
}
